<.header>
  New Press Release
  <:subtitle>Use this form to manage release records in your database.</:subtitle>
</.header>

<.release_form changeset={@changeset} action={~p"/"} />

<.back navigate={~p"/"}>Back to releases</.back>
