<.header>
  Press Release <%= @release.title %>
  <:subtitle>This is a release record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/#{@release}/edit"}>
      <.button>Edit release</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @release.title %></:item>
  <:item title="Content"><%= raw(@release.content) %></:item>
  <:item title="Date"><%= @release.date %></:item>
</.list>

<.back navigate={~p"/"}>Back to releases</.back>
